body, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("images/gym.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  position: relative;
}

.header {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  position: fixed;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  bottom: 0;
  height: 100px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
}

@media screen and (min-width: 1023px) {
  .header {
    top: 0;
    font-size: 1vw;
  }
}

.header .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .item img {
  padding-right: 10px;
  height: 25px;
}

.main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1023px) {
  .main {
    width: 100%;
  }
}

.main .section {
  color: #cabebe;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 90vh;
}

@media screen and (max-width: 1023px) {
  .main .section {
    padding-left: 50px;
  }
}

.main .section .text {
  font-size: 10vw;
  color: #e6e6e6;
  text-shadow: 2px 4px #ff4141;
}

@media screen and (min-width: 1023px) {
  .main .section .text {
    font-size: 6vw;
    padding-top: 50px;
  }
}

.main .section .text1 {
  font-size: 5vw;
  width: 100%;
}

@media screen and (min-width: 1023px) {
  .main .section .text1 {
    font-size: 2vw;
    width: 80%;
    margin-top: -100px;
  }
}

.main .section .text2 {
  font-size: 4vw;
  width: 100%;
  margin-top: -200px;
}

@media screen and (min-width: 1023px) {
  .main .section .text2 {
    font-size: 1.75em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -100px;
  }
}

.main .section .button {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
}

@media screen and (min-width: 1023px) {
  .main .section .button {
    width: 40%;
    margin-top: 0px;
  }
}

.main .section .button button {
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding: 15px;
  width: 200px;
  background-color: black;
  color: white;
  -webkit-box-shadow: 2px 4px #ff4141;
          box-shadow: 2px 4px #ff4141;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .section .button button:hover {
  -webkit-box-shadow: 0px 0px blue;
          box-shadow: 0px 0px blue;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1023px) {
  .main .section .button button {
    font-size: 1.75em;
    width: 70%;
    padding: 25px;
    border-radius: 25px;
    font-size: 5vw;
  }
}
/*# sourceMappingURL=styles.css.map */